
.form-group{
    box-sizing: content-box;
    width: 450px;
    margin: auto;
    align-items: center;
    background-color: inherit;
    align-content: center;
}

.box{
    background-color: #0246A6;
    align-content: center;
    align-items: center;
    align: center;
}
/*//5410953eada96439866e0a30*/
.container{
    width: 50%;
    /*background-color: #ebebeb;*/
    align-self: center;
}
.container{
    max-width: 500px;
    height:auto;
}

#mainView{
    padding-top: 6%;
}

.loginHead{
    text-align: center;
    font-family: "Gill Sans MT";
}

.logout{
    cursor: hand;
}
